<nav>
    <h1>.Logo</h1>
    <ul class="content-container">
        <li><a href="/">Home</a></li>
        <li><a href="/gallery">Gallery</a></li>
        <li><a href="/menu">Menu</a></li>
        <li><a href="/booking">Book</a></li>
        <li><a href="#contact">Contact</a></li>
    </ul>
    <button class="nav-btn">
        <span class="bar"></span>
        <span class="bar">more</span>
        <span class="bar"></span>
    </button>
</nav>
<script src="/js/navbar-script.js"></script>