@import './root.css';


.super-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 5%;
    border-radius: 5px;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3)), url(../assets/background/course2.jpeg);
    background-size: cover;
    justify-items: center;
    
}

.title-container {
    display: flex;
    
}

.title-container h1{
    color:#fff;
    justify-content: center;
    font-size:6rem;
    margin-top: 20%;

}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    background-position: center;
    backdrop-filter: blur(3px); /* Adds a slight blur to the background */
}

.order-container,
.pdf-container {
    flex: 1 ;
    background: linear-gradient(145deg, rgba(0, 0, 0, 0.2), rgba(0, 255, 255, 0.05));
    padding: 25px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25), inset 0 0 10px rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    transition: all 0.4s ease;
    overflow: hidden;
    position: relative;
    backdrop-filter: blur(3px);
    margin-top: 5%;
}

.order-container h1,
.pdf-container h1 {
    color: #ffffff;
    font-size: 1.8em;
    font-weight: 600;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 15px;
    transition: color 0.4s;
}



.order-container p,
.pdf-container p {
    color: rgba(255, 255, 255, 0.85);
    line-height: 1.6;
    font-size: 1em;
    text-align: center;
    transition: transform 0.3s ease;
}

.pdf-container a{
    color: lightseagreen;
    font-size: large;
    font-weight: 600;
}

.menu-image {
    width: 90%; /* Make image responsive */
    height: auto; /* Maintain aspect ratio */
    border-radius: 8px;
    margin-top: 10px;
}

.pdf-container h1 {
    margin-bottom: 15px;
    text-align: center; /* Center title */
}

.order-container h1 {
    font-size: 24px;
    margin-bottom: 15px;
    text-align: center; /* Center title */
}

.order-container input{
    flex: 3 1 1;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    resize: none;
    overflow: auto;
    margin : 2%;
}

textarea {
    flex: 1;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    resize: none;
    overflow: auto;
}

button[type="submit"] {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #218838;
}

.feedback {
    padding: 20px 40px;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10%;
    margin-top: 5%;
}

.feedback .image-container img {
    height: 100vh;
    border-radius: 10px;
}

.feedback .feedback-container {
    margin: 0 30px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feedback-container h1 {
    margin: 20px 0;
    font-size: 2rem;
}

.feedback-container form {
    width: 400px;
    height: 100vh;
    display: flex;
    flex-direction: column;
   
}

.feedback-container form input {
    width: auto;
    margin: 10px 0;
    padding: 10px;
    font-size: 1rem;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-family: var(--font-poppins);
}

.feedback-container form textarea {
    margin: 10px 0;
}

textarea {
    font-family: var(--font-poppins);
}

/* Responsive styles */
@media (max-width: 1024px) {

    .order-container,
    .pdf-container {
        height: auto; 
        min-width: 300px; 
        width: 90%; 
        min-height: 500px; 
    }
}

@media screen and (max-width: 810px){
    .feedback {
        height: 50vh;
        width: 50vw;
      }
}

@media (max-width: 768px) {
    
    .title-container h1{
        font-size: 4rem;
    }

    .flex-container {
        height: auto; 
    }

    .menu-image {
        height: 500px; 
    }

    .feedback .image-container img{
        height: 70vh;
    }
}

@media  (max-width: 480px) {

    .feedback .image-container img {
        width: 100vw;
        height: auto;
        padding: 30px;
    }

    .feedback-container form {
        width: 300px;
        padding: 0 10px;
    }

    .order-container,
    .pdf-container {
        width: 100%; 
        height: auto; 
        min-height: 400px; 
    }

}

@media  (max-width: 460px){
    .feedback{
        margin-bottom: 20%;
    }
}




