@import './root.css';

textarea {
    flex: 1;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    resize: none;
    overflow: auto;
}

button[type="submit"] {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #218838;
}

.feedback {
    padding: 100px 40px;
    width: 100vw;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.feedback .image-container iframe {
    width: 400px;
    height: 500px;
    border-radius: 10px;
}

.feedback .feedback-container {
    margin: 0 30px;   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.feedback-container h1 {
    margin: 20px 0;
    font-size: 2rem;
}

.feedback-container form {
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
   
}

.feedback-container form input {
    width: auto;
    margin: 10px 0;
    padding: 10px;
    font-size: 1rem;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-family: var(--font-poppins);
}

.feedback-container form textarea {
    margin: 10px 0;
}

textarea {
    font-family: var(--font-poppins);
}

/* Responsive styles */
/* Adjustments for even smaller screens */
@media (max-width: 480px) {
    .feedback-container form {
        width: 300px;
    }
    
    .feedback .image-container iframe {
        width: 300px;
        height: 300px;
    }
}
