@import './root.css';


.Intro {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)), url(../assets/background/course2.jpeg);
    background-size: cover;
    background-position: center;
}

.Intro-text h1{
    font-size: 7rem;
    font-weight: 700;
    color: var(--white-theme);
    margin: 10px 0 20px;
    line-height: 1;
}

.gallery-title h1{
    font-size: 7rem;
    color: var(--black-theme);
    font-weight: 600;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 3% ;
}

.gallery-title p{
    font-size: 3rem;
    color: var(--black-theme);
    font-weight: 600;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery-title p:hover{
    cursor: pointer;
    color: var(--green-theme);
    transition: ease-in-out 0.5s;
}


.gal-container {
    width: 100%;
    margin: 2rem auto;
}

.gal-1,
.gal-2 {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 15px;
    padding: 2%;
}

.gal-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.gal-img:hover{
    cursor: pointer;
    transition: ease-in-out .5s;
    transform: scale(1.025);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* gallery 1-6 */
.gal-item-1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.gal-item-2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}

.gal-item-3 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 6;
}

.gal-item-4 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 6;
}

.gal-item-5 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 9;
}

.gal-item-6 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 9;
}

/* gallery 7-12 */
.gal-item-7 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 4;
}

.gal-item-8 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 3;
}

.gal-item-9 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 6;
}

.gal-item-10 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 6;
}

.gal-item-11 {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 6;
    grid-row-end: 9;
}

.gal-item-12 {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 9;
}

/* cta call to action */

.cta {
    height: 70vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url(../assets/gallery/Thai-4.jpg);
    background-size: cover;
    background-position: center;

}

.cta-content h2 {
    font-size: 4rem;
    font-weight: 600;
    color: var(--white-theme);
    margin-bottom: 15px;
}

.cta-content p {
    font-size: 1rem;
    font-weight: 600;
    color: var(--white-theme);
    margin-bottom: 35px;
}

.cta-btn {
    display: inline-block;
    padding: 11px 40px;
    font-size: 14px;
    font-weight: 600;
    background-color: var(--green-theme);
    color: var(--white-theme);
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: all .6s ease;
}

.cta-btn:hover {
    cursor: pointer;
    background: var(--white-theme);
    color: var(--green-theme);
}

@keyframes appear {
    from {
        opacity: 0;
        scale: .5;
    }

    to {
        opacity: 1;
        scale: 1;
    }
}

.gal-1, .gal-2 {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

@media screen and (max-width: 768px) {
    .Intro-text h1 {
        font-size: 4rem;
    }

    .gallery-title h1 {
        font-size: 3rem;
        text-align: center;
    }

    .gallery-title p {
        font-size: 2rem;
        text-align: center;
    }

    .cta-content h2 {
        font-size: 3.5rem;
    }

    .cta-content p {
        margin: 20px 10px;
    }
}