@import './root.css';

article {
    position: relative;
}
.hotdeal-content{
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.1); */
    padding-top: 15%;
}
.hotdeal-container{
    position: relative;
    width: 100%;
    height: 600px;
    background: #f5f5f5; /*f5f5f5*/
    /* box-shadow: 0 30px 50px #000000; #dbdbdb; */
    overflow :hidden;
}

.hotdeal-container .hotdeal-slide .hotdeal-item {
    width: 200px;
    height: 300px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 20px;
    box-shadow: 0 30px 50px #505050;
    background-position: 50% 50%;
    background-size: cover;
    display: inline-block;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.hotdeal-slide .hotdeal-item:nth-child(1),
.hotdeal-slide .hotdeal-item:nth-child(2){
    top: 0;
    left: 0;
    transform: translate(0, 0);
    border-radius: 0;
    width: 100%;
    height: 100%;
}


.hotdeal-slide .hotdeal-item:nth-child(3){
    left: 50%;
}
.hotdeal-slide .hotdeal-item:nth-child(4){
    left: calc(50% + 220px);
}
.hotdeal-slide .hotdeal-item:nth-child(5){
    left: calc(50% + 440px);
}

/* here n = 0, 1, 2, 3,... */
.hotdeal-slide .hotdeal-item:nth-child(n + 6){
    left: calc(50% + 660px);
    opacity: 0;
}

.hotdeal-item .hotdeal-content{
    position: absolute;
    top: 50%;
    left: 100px;
    width: 300px;
    text-align: left;
    color: #eee;
    transform: translate(0, -50%);
    font-family: system-ui;
    display: none;
}

.hotdeal-slide .hotdeal-item:nth-child(2) .hotdeal-content{
    display: block;
}


.hotdeal-content .hotdeal-name{
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0;
    animation: animate 1s ease-in-out 1 forwards;
}

.hotdeal-content .hotdeal-des{
    margin-top: 10px;
    margin-bottom: 20px;
    opacity: 0;
    animation: animate 1s ease-in-out 0.3s 1 forwards;
}

.hotdeal-content button{
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    opacity: 0;
    animation: animate 1s ease-in-out 0.6s 1 forwards;
}


@keyframes animate {
    from{
        opacity: 0;
        transform: translate(0, 100px);
        filter: blur(33px);
        
    }

    to{
        opacity: 1;
        transform: translate(0);
        filter: blur(0);
    }
}

.hotdeal-button{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 20px;
}

.hotdeal-button button{
    width: 40px;
    height: 35px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin: 0 5px;
    border: 1px solid #000;
    transition: 0.3s;
}

.hotdeal-button button:hover{
    background: #ababab;
    color: #fff;
    
}


.hotdeal-item.expanded {
    width: 400px;
    height: 600px;
    transform: translate(-50%, -50%) scale(1.5);
    z-index: 10;
    transition: transform 0.5s ease, width 0.5s ease, height 0.5s ease;
}

.menu {
    display: flex;
    justify-content: center;
}

.menu-container {
    overflow-y: scroll;
    margin: 20px;
    width: 80%;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid rgba(0, 0, 0, .1);
}

.menu-container::-webkit-scrollbar {
    width: 10px;
}

.menu-container::-webkit-scrollbar-thumb {
    width: 10px;
    border-radius: 10px;
    background-color: var(--green-theme);
}

.menu-container h1 {
    text-align: center;
    width: 100%;
    padding: 10px;
    font-size: 1.6rem;
    background-color: #18330C;
    color: var(--white-theme);
}

.food-container {
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.food {
    margin: 10px;
}

.food img {
    object-fit: cover;
    width: 100%;
}

.food-content p:nth-child(1) {
    text-align: center;
    font-size: 1.5rem;
    
}

.food-content p:nth-child(2) {
    margin-bottom: 10px;
    text-align: center;
    font-size: 1.2rem;
}


.food-content button {
    transition: .3s ease-in-out;
    display: block;
    margin: auto;
    cursor: pointer;
    width: 80%;
    height: 40px;
    border: 2px solid var(--green-theme);
    color: var(--green-theme);
    background: none;
    border-radius: 20px;
    font-size: 1.2rem;
    font-weight: 500;
}

.food-content button:hover {
    background-color: var(--green-theme);
    color: var(--white-theme);
}

.menu-paper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.menu-paper img {
    margin: 20px;
    width: 50%;
    height: auto;
}

@media screen and (max-width: 768px) {
    .hotdeal-container .hotdeal-content {
        width: 200px;
        left: 50px;
    }

    .menu-paper img {
        width: 80%;
    }
}

@media screen and (max-width: 500px) {
    .hotdeal-slide .hotdeal-item:nth-child(3),
    .hotdeal-slide .hotdeal-item:nth-child(4),
    .hotdeal-slide .hotdeal-item:nth-child(5) {
        opacity: 0;
    }
    .hotdeal-container .hotdeal-content {
        left: 25%;
    }
    .hotdeal-content .hotdeal-name {
        text-align: center;
    }
    .hotdeal-content button {
        display: block;
        margin: auto;
    }
}