@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    /* color */
    --green-theme: #00652a;
    --white-theme: #ffffff;
    --black-theme:#000000;
    --smoke-theme:#fff5;
    --gray-theme:#808080;
    --white-smoke-theme: #bbbbbb;
    --black-gray-theme: #24262b;
    --red-pastel-theme: #e91e63;
    
    /* font-family */
    --font-poppins: 'Poppins', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}
