<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./../components/head') %>
    <link rel="stylesheet" href="/css/booking.css">
</head>
<body>
    <!-- navbar-->
    <%- include('./../components/navbar') %>
   <!-- <h1 class="title">Booking</h1> -->
  <section class="super-container">

    <div class="title-container">
        <h1>BOOKING</h1>
    </div>

   <div class="flex-container">
        <div class="pdf-container">
            <h1>Menu</h1>
            <img src="/assets/menu_paper.jpeg" alt="Menu" class="menu-image">
            <p>Your browser does not support displaying PDFs. <a href="/assets/menu/menu_paper.pdf">Download the PDF</a></p>
        </div>
        <div class="order-container">
            <h1>Order Details</h1>
            <input type="text" placeholder="Name" required>
            <input type="tel" placeholder="Phone" required>
            <input type="email" placeholder="Email" required>
            <input type="date" placeholder="Date" required>
            <input type="number" placeholder="Count" min="1" required>
            <input type="text" placeholder="Allergy">
            <textarea placeholder="Enter your order details here..." required></textarea>
            <button type="submit">Order now</button>
        </div>
    </div>
</section>
    <div class="feedback">
        <div class="image-container">
            <img src="/assets/feedback-img.jpg" alt="">
        </div>
        <div class="feedback-container">
            <h1>Feedback</h1>
            <form action="">
                <input type="text" placeholder="Name">
                <input type="email" placeholder="Email">
                <input type="text" placeholder="Subject">
                <textarea name="" id="" placeholder="Message"></textarea>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>


    <!-- footer -->
    <%- include('./../components/footer') %>
</body>
</html>
