<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./../components/head') %>
    <link rel="stylesheet" href="/css/booking.css">
</head>
<body>
    <!-- navbar-->
    <%- include('./../components/navbar') %>

    <section class="title-booking">
        <h1 class="title">Booking</h1>
        <div class="textfield-container">
            <input type="text" placeholder="Name" required>
            <input type="date" placeholder="Date" required>
            <input type="number" placeholder="Count" min="1" required>
            <input type="text" placeholder="Allergy">
        </div>
        <iframe src="https://calendar.google.com/calendar/embed?src=watcharapong16599%40gmail.com&ctz=Asia%2FBangkok" class="calendar"></iframe>
    </section>

    <section class="flex-container">
        <div class="pdf-container">
            <h1>Menu</h1>
            <iframe src="https://docs.google.com/document/d/e/2PACX-1vRPcU8dY0HGgVckl-hWiH1zqhktlHEpxnTFYHu3URdzQRLoijDrvyQPD-YblNN4VC_P6QFJVWf7AilH/pub?embedded=true" class="pdf-iframe"></iframe>
            <p>Your browser does not support displaying PDFs. <a href="/assets/menu/menu_paper.pdf">Download the PDF</a></p>
        </div>
        <div class="order-container">
            <h1>Order Details</h1>
            <textarea placeholder="Enter your order details here..." required></textarea>
            <button type="submit">Submit</button>
        </div>
    </section>

    <!-- footer -->
    <%- include('./../components/footer') %>
</body>
</html>
