<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./../components/head') %>
    <link rel="stylesheet" href="/css/booking.css">
</head>
<body>
    <!-- navbar-->
    <%- include('./../components/navbar') %>

    <section class="title-booking">
        <h1 class="title">Booking</h1>
        <div class="textfield-container">
            <input type="text" placeholder="Name">
            <input type="date" placeholder="date">
            <input type="number" placeholder="Count">
            <input type="text" placeholder="Allergy">
        </div>
        <iframe src="https://calendar.google.com/calendar/embed?src=watcharapong16599%40gmail.com&ctz=Asia%2FBangkok"></iframe>
    </section>

    <section class="flex-container">
        <div class="pdf-container">
            <embed src="/assets/menu/menu_paper.pdf" type="application/pdf" width="100%" height="600px"></embed>
            <p>Your browser does not support PDFs. <a href="/assets/menu/menu_paper.pdf">Download the PDF</a></p>
        </div>
        <div class="order-container">
            <h1>Order Details</h1>
            <textarea placeholder="Enter your order details here..."></textarea>
            <button type="submit">Submit</button>
        </div>
    </section>

    <!-- footer -->
    <%- include('./../components/footer') %>
</body>
</html>
