<!DOCTYPE html>
<html lang="en">
<head>

    <!-- static head -->
    <%- include('./../components/head') %>
    <link rel="stylesheet" href="/css/gallery.css">

</head>
<body>

    <!-- navbar -->
    <%- include('./../components/navbar') %>

    <!-- content -->
    <h1>Gallery</h1>

    <!-- footer -->
    <%- include('./../components/footer') %>

</body>
</html>