<!DOCTYPE html>
<html lang="en">
<head>

    <!-- static head -->
    <%- include('./../components/head') %>
    <link rel="stylesheet" href="/css/gallery.css">

</head>
<body>

    <!-- navbar -->
    <%- include('./../components/navbar') %>

   
     <!-- Intro -->
     <section class="Intro">

        <div class="Intro" >
           <div class="Intro-text">
            <h1>Charm Resturant</h1>
           </div>
            
        </div>
    </section>
   
    <!-- Gallery -->
    <section class="gallery">

        <div class="gallery-title">
            <h1>Delicious Thai Foods</h1>
        </div>
            

        <div class="grid-container">
            <div class="row">
                
                <div class="column">
                    <img src="/assets/course1.jpeg" >
                    <img src="/assets/course2.jpeg" >
                    <img src="/assets/course3.jpeg" >
                    <img src="/assets/slider_1.jpg" >
                    <img src="/assets/slider_2.jpg" >
                    <img src="/assets/slider_3.jpg" >
                    <img src="/assets/slider_4.jpg" >
                </div>
                
                <div class="column">
                    <img src="/assets/course1.jpeg" >
                    <img src="/assets/slider_1.jpg" >
                    <img src="/assets/slider_2.jpg" >
                    <img src="/assets/course2.jpeg" >
                    <img src="/assets/slider_3.jpg" >
                    <img src="/assets/course3.jpeg" >
                    <img src="/assets/slider_4.jpg" >
                </div>
                
                <div class="column">
                    <img src="/assets/s1.jpeg" >
                    <img src="/assets/s2.jpeg" >
                    <img src="/assets/slider_2.jpg" >
                    <img src="/assets/course2.jpeg" >
                    <img src="/assets/slider_3.jpg" >
                    <img src="/assets/course3.jpeg" >
                    <!-- <img src="/assets/s4.jpeg" > -->
                </div>

            </div>
        </div>
    </section>
    <!-- footer -->
    <%- include('./../components/footer') %>

</body>
</html>