<!DOCTYPE html>
<html lang="en">
<head>

    <!-- static head -->
    <%- include('./../components/head') %>
    <link rel="stylesheet" href="/css/home.css">

</head>
<body>

    <!-- navbar -->
    <%- include('./../components/navbar.ejs') %>

    <!-- content -->
    <h1>Home</h1>
    <section class="slider">
        <div class="slider_content" id="slider">
            <div class="list">
                <div class="item">
                    <img src="/assets/slider_1.jpg" alt="">
                </div>
                <div class="item">
                    <img src="/assets/slider_2.jpg" alt="">
                </div>
                <div class="item">
                    <img src="/assets/slider_3.jpg" alt="">
                </div>
                <div class="item">
                    <img src="/assets/slider_4.jpg" alt="">
                </div>
                <div class="item">
                    <img src="/assets/slider_5.jpg" alt="">
                </div>
            </div>
            <div class="buttons">
                <button id="prev"> < </button>
                <button id="next"> > </button>
            </div>
            <ul class="dots">
                <li class="active"></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </section>

    <!-- footer -->
    <%- include('./../components/footer.ejs') %>
    <script src="/js/home-script.js"></script>

</body>
</html>