<!DOCTYPE html>
<html lang="en">
<head>

    <!-- static head -->
    <%- include('./../components/head') %>
    <link rel="stylesheet" href="/css/home.css">

</head>
<body>

    <!-- navbar -->
    <%- include('./../components/navbar.ejs') %>

    <!-- content -->
    <h1>Home</h1>

    <!-- footer -->
    <%- include('./../components/footer.ejs') %>

</body>
</html>