<!DOCTYPE html>
<html lang="en">

<head>

    <!-- static head -->
    <%- include('./../components/head') %>
        <link rel="stylesheet" href="/css/home.css">

</head>

<body>

    <!-- navbar -->
    <%- include('./../components/navbar.ejs') %>

        <!-- content -->
        <section class="slider">
            <div class="slider_content" id="slider">
                <div class="list">
                    <% homeImgs.forEach(homeImg=> { %>
                        <div class="item">
                            <img src="/assets/<%= homeImg.img %>" alt="">
                        </div>
                        <% }) %>
                </div>
                <div class="buttons">
                    <button id="prev"><i class="fa-solid fa-arrow-left"></i></button>
                    <button id="next"><i class="fa-solid fa-arrow-right"></i></button>
                </div>
                <ul class="dots">
                    <li class="active"></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </section>


        <!-- about section starts -->

        <section class="about">
            <div class="about-container">
                <h1 class="heading"> <span>About </span>us</h1>

                <div class="row">

                    <div class="poster-container">
                        <img src="/assets/Thai-poster.jpg" alt="">
                        <h3>Best foods in the world.</h3>
                    </div>
                    

                    <div class="content">
                        <h3>why choose us?</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis saepe eum repellendus earum
                            sapiente ex aspernatur architecto non, dolorem inventore? Eaque placeat nulla dignissimos
                            magnam cum veritatis ratione odio adipisci.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro ut, obcaecati rerum pariatur
                            minima omnis dignissimos asperiores doloremque deleniti itaque, tenetur impedit doloribus
                            voluptatibus consequuntur harum cumque? Aliquam at dicta a, rem explicabo molestias qui
                            impedit distinctio, minus nobis dolore possimus excepturi reprehenderit. Voluptas aut, optio
                            explicabo incidunt ullam ea.</p>
                        <!-- <a href="#" class="btn">Read more</a> -->
                    </div>

                </div>
            </div>
        </section>

        <!-- about section ends -->

        <!-- icons section starts -->
        <section class="icons-container">
            <!-- <a href="#" class="icons">
                <i class="fas fa-truck"></i>
                <div class="info">
                    <h3>free delivery</h3>
                    <span>on all orders</span>
                </div>
            </a> -->

            <a href="/" class="icons">
                <i class="fas fa-solid fa-truck"></i>
                <div class="info">
                    <h3>delivery</h3>
                    <span>Join us for a meal to remember—reserve your spot!</span>
                </div>
            </a>
            
            <a href="/menu" class="icons">
                <i class="fas fa-solid fa-bowl-food"></i>
                <div class="info">
                    <h3>menu</h3>
                    <span>Reserve today and indulge in fresh, delicious flavors!</span>
                </div>
            </a>

            <a href="/booking" class="icons">
                <i class="fas fa-solid fa-utensils"></i>
                <div class="info">
                    <h3>booking</h3>
                    <span>Book your table now for an unforgettable dining experience!</span>
                </div>
            </a>
        </section>
        <!-- icons section ends -->

        
        <!-- footer -->
        <%- include('./../components/footer.ejs') %>


            <!-- home script -->
            <script src="/js/home-script.js"></script>

</body>

</html>